body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

ul, ol, {
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    display: none;
}


a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.header-nav {
    display: flex;
    align-items: center;
}

.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5AE5;
    /* margin-right: 76px; */
    padding: 17px 0;
}

.logo-link {
    color: #2E2F42;
}

.header-menu-list {
    display: none;
    list-style-type: none;
}

/* .header-menu-link {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */


.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

/* .header-menu-item {
    padding: 24px 0;
} */

/* .header-menu-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
} */

.header-menu-link:hover,
.header-menu-link:focus {
    color:#404bbf
}

/* .control {
    position: relative;
    color: #404bbf;
} */

/* .control::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
} */

.address {
    display: none;
}

/* .address-list {
    display: flex;
    gap: 40px;
} */

/* .address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .address-link:hover,
.address-link:focus {
    color: #404bbf
} */

/* HERO */

.hero {
    background-color: #2e2f42;
    /*padding: 188px 0;*/
    padding-top: 72px;
    padding-bottom: 72px;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url("../images/Office/people-mob-min.jpg");
    /*max-width: 1440px;*/
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/Office/people-mob-2x-min.jpg ");

    }
}


.hero .container {
    /*max-width: 1140px;*/
    max-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.hero button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    margin: 48px auto 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    padding: 0 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .hero-wrap {
background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
        url(../images/people-office\ 1.jpg);
} */

.hero button:hover {
    background-color: #3b48cc;;
}

.hero-title {
    max-width: 216px;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 72px;
}

.hero-buy-btn {
    font-family: inherit;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.hero-buy-btn:hover,
.hero-buy-btn:focus {
    background-color: #404bbf;
}

/* features */
.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

.features-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-item {
    /* flex-basis: calc((100% - 72px) / 4); */
    width: 100%;
}

.features-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

/* .features-icon-content {
    width: 64px;
    height: 64px;
    display: block;
    margin: 24px;
} */

.features-subtitle {
    margin-bottom: 8px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;er;
}

.features-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* TEAM */

.team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.team-item {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.team-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;    
}

.team-item-title {
    padding: 32px 0;
    text-align: center;
}

.team-item-prof {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 264px;
}

.team-item-icons {
    gap: 24px;
    /* padding: 16px; */
    display: flex;
    justify-content: center;
}

.team-item-contact {
    display: flex;
    width: 40px;
    height: 40px;
}

.soc-link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover {
    background-color: #31D0AA;
}
.soc-link:focus {
    background-color: #31D0AA;
}

.soc-link-item {
    fill: #f4f4fd;
}

.soc-link-icon {
    fill: #f4f4fd;

}

/* .portfolio {} */

.portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-title {
    margin-bottom: 72px;
    padding-left: 79px;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-shadow {
    /* box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-img-text {
    position: relative;
    overflow: hidden;
}

.port-text {
    position: absolute;
    top: 0;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    transform: translateY(100%);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-item:hover .port-text {
    transform: translateY(0);
}
.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-item {
    /* width: 264px;
    height: 428px; */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

.portfolio-capt-item {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* Footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    margin-bottom: 16px;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5AE5;
}

.footer-logo-link {
    color: #f4f4fd
}

.footer-logo-link:hover,
.footer-logo-link:focus {
    color: #404bbf;
}

.soc-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.r-side {
    margin-bottom: 72px;
}

.soc-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;

}

.footer-cont {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
/* .log-f {
    display: inline-block;
    margin-bottom: 16px;
} */

.icon-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.footer-cont {
    justify-content: space-between;
}

.footer-soc-link {
    display: flex;
    width: 40px;
    height: 40px;
}

.footer-soc-link :hover,
.footer-soc-link :focus {
    background-color: #31d0aa;
}

.footer-cont {
    align-items: baseline;
}


/*-----container-input*/

.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-input-sub {
    flex-direction: column;
    gap: 24px;
}

.container-input {
    display: flex;
    flex-wrap: wrap;

}

.footer-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.label-sub {
    min-width: 80px;
    margin-bottom: 16px;
}

.footer-input {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-submit-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.icon-frame {
    fill: #fff;
    margin-left: 16px;
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* backdrop */

.backdrop {
    width: 100%;
    height: 100%;
    background-color:  rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 584px;
    padding: 24px;
    padding-top: 72px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-x {
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center;
    top: 24px;
    right: 24px;
    bottom: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0; 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-x:hover,
.modal-btn-x:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

/* .modal-btn-x:hover > .icon-x {
    fill: #ffffff;
} */

/* .modal-btn-x:focus > .icon-x {
    fill: #ffffff;
} */


.icon-x {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
    /* 16 na 8px */
}

.modal-field-textarea {
    margin-bottom: 16px;
}

.modal-checkbox {
    margin-bottom: 24px;
}

.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}

.input-coment-modal {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4); 
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.input-coment-modal:focus {
    border-color: #4d5ae5;
}

.input-coment-modal::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* .modal-icon:hover,
.modal-icon:focus {
    fill: #ffffff;
} */

.modal-input-wrapp {
    position: relative;
}

.btn-modal-send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .btn-modal-send:focus, 
.btn-modal-send:hover {
fill: #ffffff
} */

.check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.visually-hidden:checked + .check-text .check-check {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.check-link {
    /* text-decoration: underline;
    text-decoration-skip-ink: none; */
    color: #4d5ae5;
}

.check-check {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

/* .modal-check:checked + .check-text > .check-check {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
} */

/* .modal-check-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #f4f4fd;
} */

.backdrop-mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    overflow-y: auto;
    transform: translateX(100%);
}

.backdrop-mobile-menu .is-open {
    transform: translateX(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-list-link-st {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #404BBF;
}

.mobile-list-item {
    margin-top: 40px;
}

.mobile-list-item:first-child {
    margin-top: 0;
}

.mobile-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.mobile-btn-x {
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center;
    top: 24px;
    right: 24px;
    bottom: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0; 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-container {
    position: relative;
    padding: 72px 16px 40px 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mobile-nav {
    margin-bottom: auto;
}

.address-backdrop {
    width: 193px;
    height: 72px;
    margin-bottom: 48px;
}

.address-list-item {
    margin-bottom: 24px;
}

.address-link-backdrop-m {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #4D5AE5;
    font-style: normal;    
}

.address-link-backdrop {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.footer-icon-backdrop {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.footer-icon-item-backdrop {
    display: flex;
    gap: 40px;
    height: 40px;
}

.footer-icon-link-backdrop {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.footer-icon-link-backdrop:hover, 
.footer-icon-link-backdrop:focus {
    background-color: #31D0AA;
}

.icon-icon-footer-bacdrop {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    
    .container{
    max-width: 768px;
    }
    
    .logo {
    margin-right: 120px;
    }

    .header-menu-list {
    display: flex;
    gap: 40px;
    }

    .header-menu-link {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    }

    .header-menu-link:hover {
    color: #404bbf;
    }
    
    .header-menu-link:focus {
    color: #404bbf;
    }

    .header-menu-item {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    
    .header-menu-item:hover {
    color: #404bbf;
    }
    
    .header-menu-item:focus {
    color: #404bbf;
    }
    
    .address {
    display: block;
    font-style: normal;
    }

    .address-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
    }

    .address-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover {
    color: #404bbf;
    }
    
    .address-link:focus {
    color: #404bbf;
    }

    .open-menu-btn {
    display: none;
    }

    .features-list{
    gap: 72px 24px;
    }

    .features-item {
    width: calc((100% - 24px) / 2);
    }

    .features-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: left;
    }

    .team-item {
    width: 264px;
    height: 428px;
    }



    .team-title {
    text-align: center;
    }

    .team-list {
    gap: 24px;

    }

    .hero {
    display: flex;
    flex-wrap: wrap;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images/Office/people-tab-min.jpg ");
    padding: 112px 0;
    }

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
            .hero {
                background-image: linear-gradient(to bottom,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url("../images/Office/people-tab-2x-min.jpg ");
    
            }
        }

    .hero-title {
    max-width: 496px;
    font-size: 56px;
    }

    .hero .container {
    max-width: 768px;
    }

    .portfolio-item {
    width: calc((100% - 24px) / 2);
    }

    .portfolio-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
    
    .footer-cont {
    max-width: 584px;
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    }

    .icon-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    }

    .footer-logo {
    text-align: left;
    }

    .container-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

    .soc-media {
    text-align: left;
    }

    .soc-footer {
    justify-content: center;
    }

    .footer-input-sub {
    display: flex;
    gap: 24px;
    flex-direction: row;
    }

    .footer-submit-btn {
    border-left: auto;
    background-repeat: auto;
    margin-top: 0;
    }

    /* .label-sub {
    margin-bottom: 72px;
    } */

    .footer-title {
    text-align: left;
    }

    .backdrop-mobile-menu {
    display: none;
    }
}

@media screen and (min-width: 1158px) {
    
    .container {
    max-width: 1158px;
    padding: 0 15px;
    }

    .logo {
    margin-right: 76px;

    }

    .address-list {
    flex-direction: row;
    gap: 40px;
    }

    .address-link {
    font-style: 15px;
    line-height: 1.5;
    }

    .header-menu-list {
    display: flex;
    }

    .address {
    display: flex;
    }

    .features-list {
    gap: 24px;
    }

    .features-item {
    width: 100%;
    }

    .features-icon {
    display: flex;
    }

    .features-item {
    width: calc((100% - 72px) / 4);
    }

    .team-list {
    gap: 24px;
    }

    .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    }

    .team-item-prof {
    font-weight: 400;
    }

    .hero {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images/Office/people-desk-min.jpg");
    padding: 188px 0;
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/Office/people-desk-2x-min.jpg");

        }
    }



    .hero-title {
    max-width: 496px;
    }

    .hero .container {
    max-width: 1140px;
    }

    .portfolio-item {
    width: calc((100% - 48px) / 3);
    }

    .portfolio-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }

    .icon-footer {
    margin-right: 120px;
    margin-bottom: 0;
    }

    .footer-cont {
    max-width: 1158px;
    display: flex;
    flex-wrap: wrap;
    gap: unset;
    }

    .icon-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

    .footer-logo {
    text-align: left;
    }

    .r-side {
    margin-right: 80px;
    }
}