body {
    font-family: "Roboto", sans-serif;
    font-size: 400;
    color: #434455;
    background-color: #ffffff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.container {
    /* width: 1158px; */
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.open-header-nav-btn {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Mob Menu */

.mob-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
}

.close-btn {
    display: block;
    margin-left: auto;
    border-radius: 100%;
    fill: #e7e9fc;
    stroke-width: 1px;
    stroke: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
}

.mob-header-menu-item {
    font-weight: 700;
    font-size: 36px;

    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-header-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-header-menu-link {
    text-decoration: none;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-header-menu-link.current {
    color: #404bbf;
}

.mob-header-address {
    font-style: normal;
    color: #434455;
}

.mob-header-address-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 24px;
}

.mob-header-address-link {
    text-decoration: none;
    color: #2e2f42;
}

.mob-header-address-list {
    margin-bottom: 48px;
}

.mob-header-address-link:focus,
.mob-header-address-link:active {
    color: #4d5ae5;
}

.mob-icon-list {
    display: flex;
    gap: 40px;
}

.mob-icon-social:not(:last-child) {
    padding-right: 40px;
}

/* //-------------------------------// */

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
    padding: 17px 0;
    display: block;
}

.header-logo-color {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
}

.header-menu-list {
    display: none;
    gap: 40px;
}

.header-address-item {
    margin-right: 0;
}

.header-menu-link.current {
    color: #404bbf;
}

.header-menu-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}

.header-address {
    font-style: normal;
    color: #434455;
    display: none;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link {
    text-decoration: none;
    color: #434455;
    position: relative;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.header-menu-link,
.mob-header-address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-header-address-link:hover,
.mob-header-address-link:focus {
    color: #404bbf;
}

.mob-header-address-link {
    text-decoration: none;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-header-address-link:hover,
.mob-header-address-link:active,
.mob-header-address-link:focus {
    color: #404bbf;
}

/* Section Title */
.headline {
    padding: 72px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/Dark-bgmob.jpg);
    /* max-width: 320px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi),
(-wedkit-min-device-pixel-ratio: 2) {
    .headline {
        background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg-mob-2x.jpg);
    }
}

.headline-title {
    text-align: center;
    font-weight: 700;
    /* font-size: 56px; */
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 216px;
    margin: 0 auto 72px;
}

.headline-btn {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headline-btn:hover,
.headline-btn:active,
.headline-btn:focus {
    background-color: #404bbf;
}

/* Content */
.content {
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content-menu-list {
    gap: 72px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;
  align-items: baseline; */
}

.content-menu-item {
    flex-basis: calc((100% - 3 * 24px) / 2);
}

.content-menu-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.content-subtitle {
    font-weight: 700;
    font-size: 36px;

    line-height: 40px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.content-icon {
    display: none;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    display: block;
    display: none;
}

/* Our Team */
.team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
}

.team-menu-item {
    background-color: #ffffff;

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    margin: 0;
    width: 264px;
}

.team-container {
    padding: 32px 0;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-item {
    width: 40px;
    height: 40px;
}

.links-item-ref {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    width: 40px;
    height: 40px;
}

.links-item-ref:hover,
.links-item-ref:focus {
    background-color: #404bbf;
}

.sm-icon {
    fill: #f4f4fd;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-menu-text {
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

/* Portfolio */
.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    /* width: calc((100% - 48px) / 3); */
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-text-cover {
    transform: translateY(0%);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px 0 rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-item-text-cover {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;

    line-height: 40px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* footer */
.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    /* justify-content: center; */
}

.footer-container-logo {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    text-align: left;
}

.sm-container {
    flex: 1;
    text-align: center;
}

.sm-container-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.sm-list {
    display: flex;
    gap: 16px;
}

.sm-list-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-ref {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-ref:hover,
.sm-ref:focus {
    background-color: #31d0aa;
}

.sm-svg {
    fill: #f4f4fd;
}

.subscribe-contaiener {
    /* margin-left: auto;
  padding-top: 72px; */
    text-align: center;
}

.subscribe-paragraph {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.subscribe-form-label {
    gap: 28px;

    text-align: center;
}

.form-label-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

::placeholder {
    color: #ffffff;
}

.label-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-button:focus,
.label-button:hover {
    background-color: #404bbf;
}

.subscribe-button-svg {
    margin-left: 16px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-logo-p {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    text-align: left;
}

/* Modal Window */

.modal-window-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.mw-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mw-btn:hover,
.mw-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-btn-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: black;
}

.mw-btn:hover .close-btn-svg,
.mw-btn:focus .close-btn-svg {
    fill: #ffffff;
}

.mw-paragraph {
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

/* .mw-form {
} */
.mw-form-div {
    margin-bottom: 8px;
}

.mw-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.mw-form-div-input {
    position: relative;
}

.form-div-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.form-div-input:focus {
    border-color: #4d5ae5;
}

.form-div-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-div-input:focus+.form-div-svg {
    fill: #4d5ae5;
}

.mw-form-div-four {
    margin-bottom: 16px;
}

.div-four-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-four-textarea:focus {
    border-color: #4d5ae5;
}

.checkbox-container {
    margin-bottom: 24px;
}

/* .checkbox-input {
} */
.label-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    flex-shrink: 0;
}

/* .label-span-svg{

} */
.checkbox-input:checked+.label-privacy .label-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.checkbox-input:focus+.label-privacy .label-span {
    border-color: #4d5ae5;
}

.label-privacy-ref {
    color: #4d5ae5;
}

.form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 20px;
    margin-left: 80px;
    margin: 20px auto 0;
    border-radius: 4px;
}

.form-btn:focus,
.form-btn:hover {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    /* Header */
    .header-menu-list {
        display: flex;
        gap: 40px;
    }

    .open-header-nav-btn {
        display: none;
    }

    .header-address {
        display: block;
    }

    .logo {
        margin-right: 120px;
    }

    .header-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    /* Section Title */

    .headline {
        background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg-tab-1x.jpg);
        max-width: 785px;
        padding: 112px 0;
    }

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-wedkit-min-device-pixel-ratio: 2) {
        .headtitle {
            background-color: #2e2f42;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/Dark-bg-tab-2x.jpg);
        }
    }

    .headline-title {
        text-align: center;
        max-width: 496px;
        font-size: 56px;
        margin: 0 auto 36px;
    }

    .button {
        margin-top: 36px;
    }

    /* Content */

    .content-menu-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 24px;
    }

    .content-menu-item {
        flex-basis: calc((100% - 1 * 24px) / 2);
    }

    .content-menu-text {
        line-height: 24px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .content-subtitle {
        text-align: left;
    }

    /* Our Team */

    .team-menu-list {
        justify-content: center;
        align-items: center;
    }

    .team-menu-item {
        /* flex-basis: calc(50% - 24px); */
    }

    .team-container {
        justify-content: center;
        align-items: center;
    }

    /* Portfolio*/

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-list {
        gap: 72px 24px;
    }

    /* Footer */

    .footer-container {
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0 108px;
        gap: 72px 24px;
        align-items: baseline;
    }

    .subscribe-container {
        flex-basis: 100%;
        /* margin-top: 20px; */
        margin-top: 0;
        text-align: center;
        flex: 1;
    }

    .footer-container-logo {
        text-align: justify;
        align-items: baseline;
        width: 264px;
    }

    .sm-container {
        text-align: center;
        flex: 1;
    }

    .sm-container-paragraph {
        text-align: left;
    }

    .subscribe-contaiener {
        text-align: justify;
    }

    .subscribe-form {
        flex-direction: row;
        justify-content: flex-end;
    }

    .form-label-input {
        width: 264px;
    }

    /* Modal Window */
    .modal-window {
        min-width: 408px;
        min-height: 584px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    /*Header */

    .logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
    }

    .header-address-ref {
        font-size: 16px;
        line-height: 1.5;
    }

    .header-address {
        display: block;
        margin-right: 40px;
    }

    .header-address-list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* Header 1 */

    .headline {
        background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
        max-width: 1440px;
        padding: 188px 0;
    }

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-wedkit-min-device-pixel-ratio: 2) {
        .section-one {
            background-color: #2e2f42;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office\ people-office-2x.jpg);
        }
    }

    .section-one-h-one {
        margin: 0 auto 48px;
    }

    /* Content */
    .content {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .content-menu-list {
        flex-wrap: nowrap;
    }

    .content-menu-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .icon-container {
        display: flex;
        margin-bottom: 8px;
    }

    .content-icon {
        display: flex;
    }

    .content-menu-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-weight: 400;
    }

    .content-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    /* Our Team */
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-menu-list {
        justify-content: center;
    }

    .team-menu-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .team-menu-text {
        font-weight: 400;
        font-size: 16px;
    }

    /* Portfolio */
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-list {
        justify-content: center;
        gap: 48px 24px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
    }

    /* Footer */
    .footer {
        padding: 100px 0;
    }

    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
    }

    .footer-container-logo {
        width: 264px;
        margin-right: 120px;
    }

    .sm-container {
        text-align: center;
        margin-right: 80px;
    }

    .subscribe-form {
        align-items: center;

        padding: 0;
    }

    .subscribe-form-label {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin: 0;
        padding: 0;
    }

    .subscribe-button-svg {
        fill: #ffffff;
    }

    .form-label-input {
        margin: 0;
        padding: 8px 12px;
    }

    /* Modal Window */
    .modal-window {
        border-radius: 4px;
        min-width: 408px;
        min-height: 584px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
            0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background: #fcfcfc;
    }
}

footer-text {
    color: #f4f4fd;
}